img {
    display: block;
    max-width: 100%;
}


.logo {
    display: block;
    margin: 1em;
    float: left;
}

.h--nav-button {
    float: right;
}

.h--nav-list {
    clear: both;
    margin: 0;
}

.h--hero-heading {
    clear: both;
}

body {
  -webkit-transition: all 5s;
  -webkit-filter: sepia(100%);
}

@media (min-width: 700px) {
    body {
      -webkit-filter: none;
    }

    .h--nav-button {
        display: none;
    }

    nav {
        float: right;
    }

    .h--nav-list {
        clear: none;
        float: right;
        display: block !important;
    }

    .h--nav-list li {
        float: left;
    }


}
